/* 
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto Slab', serif;
 */
fieldset {
    background-color: lightgray;
    padding: 10px;
    margin: 10px 0;
    width: 500px;
}

legend {
    font-weight: bold;
    padding: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
}

h1 {
    font-family: 'Oxygen', sans-serif;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}
.button {
    padding: 10px;
    font-weight: 700;
}

input {
    padding: 5px;
}

a {
    padding: 5px;
    text-decoration: none;
}